@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', 'sans-serif';
}

.main {
	color: white;
	background-color: #030106;
	background-image: url(https://cdn.dribbble.com/users/214929/screenshots/4967879/ai-loader-opt.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
	padding: 0 8vw;
	min-height: 100vh;
}

nav {
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0px;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 30px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

.main h1 {
	line-height: 10vh;
	font-size: 62px;
	margin-top: 12%;
}
/* 
.indicator span {
	cursor: pointer;
	user-select: none;
	display: inline-block;
	background: #222531;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin-right: 10px;
}

.indicator {
	user-select: none;
	cursor: pointer;
	margin-top: 15vh;
}

.indicator span#active {
	background: #4d2eff;
}

.indicator span#active:hover {
	background: #664aff;
}

.indicator span:not(#active):hover {
	background: #646464;
} */

.action {
	position: absolute;
	width: 25%;
	min-width: 48vh;
	right: 8%;

}

.action p a {
	text-decoration: none;
	color: #ac66f7;
}

.action p a:hover {
	color: rgb(150, 112, 255);
	text-decoration: underline;
}

ul li a:hover {
	color: rgb(150, 112, 255);
}

button {
	color: #fff;
	background: rgba(33, 31, 43, 0.6);
	padding: 15px 35px;
	margin-top: 25px;
	border: none;
	outline: none;
	border-radius: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: background 150ms ease-in-out, box-shadow 300ms, transform 300ms ease-out;
	user-select: none;
	cursor: pointer;
}
button:hover {
	background-color: rgba(58, 54, 75, 0.6);
}

/* Ripple effect */

.ripple {
	overflow: hidden;
	position: relative;
}

span {
	position: absolute;
	background: rgba(255, 255, 255, 0.356);
	transform: translate(-50%, -50%);
	pointer-events: none;
	border-radius: 50%;
	animation: ripple 400ms linear forwards;
}

@keyframes ripple {
	0% {
		width: 0px;
		height: 0px;
		opacity: 0.3;
	}
	100% {
		width: 500px;
		height: 500px;
		opacity: 0;
	}
}
