*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}

.main{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url(https://cdn.dribbble.com/users/214929/screenshots/4967879/ai-loader-opt.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    color: white;
    padding: 0 8%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.logo{
    width: 160px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    color:white;
    text-decoration: none;
}

.main h1{
    line-height: 10vh;
    font-size: 62px;
    margin-top: 12%;
}

.main button{
    background: #211f2b;
    border: 0;
    outline: none;
    padding: 15px 35px;
    color: #fff;
    margin-top: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
}

.indicator span{
    display: inline-block;
    background: #3a3a3a;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.indicator{
    margin-top: 150px;
}

.indicator span.active{
    background:#bfbfbf;
}
.action{
    position: absolute;
    width: 25%;
    min-width: 48vh;
    right: 8%;
    bottom: 58px;
}
.action p a{
    text-decoration: none;
    color: rgb(215, 191, 253);
}
.action button{
    background-color: rgba(33,31,43,0.6);
    height: 10px;
    width: 89px;
    padding-left: 20px;
    padding-bottom: 35px;
    transition: all 0.2s ease-in-out;
}